body {
    background-image: url("images/gravel.png");
    height: 720px;
    width: 100%;
  }
  .container {
    width: 100%;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  .bg {
    /* The image used */
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .masthead {
    border: 25%;
  }
  .mainNav {
      margin-bottom: 50px;
      background-color: antiquewhite;
  }
  
  #a {
    background-color: teal;
     
  }
  #portfolio {
    border: 5px;
    border-color: gray;
    background-color: bisque;
    
  }
  .row {
    margin-top: 50px;
  }

  